@keyframes butpress {
    0% {
      transform: scale(0.01);
      ;
    }

    80% {
      transform: scale(0.02);
      color: powderblue;
    }

    85% {
      transform: scale(12);
      color: powderblue;
    }

    100% {
      transform: scale(12);
      color: powderblue;
    }

  }
@keyframes image {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
  .butpress {
    position:absolute;
    top: 50%;
    left: 50%;
    animation-duration: 2s;
    animation-name: butpress;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  /*.butpress:hover {
    animation-play-state: paused;
  }*/

#close-image img {
    display: block;
    height: 100px;  
    width: 100px;
}

#close-CSS {
    background-image: url( '../Animations/scar.jpg' );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}